* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}


.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.editForm > h4 {
    font-size: 25px;
    font-weight: 300;
    padding: 30px 0 0;
}

.editForm > button {
    width: 80%;
    height: 35px;
    margin: 0 0 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: transparent;
    background-color: rgb(100, 92, 255);
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.editTask {
    margin: 30px auto;
}

.subEdit {
    width: 90%;
    margin: 10px auto;
}

.newTask {
    display: flex;
    gap: 30px;
}

label {
    display: block;
    padding: 6px 0 0 0;
}


.editInput {
    background-color: rgb(242, 244, 248);
    width: 60%;
    height: 35px;
    border-top-color: rgb(242, 244, 248);
    border-left-color: rgb(242, 244, 248);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    outline-color: rgb(100, 92, 255);
    text-transform: capitalize
}

.editInput::placeholder {
    font-size: 18px;
}

.completed {
    text-decoration: line-through;
}

@media screen and (min-width: 500px) {
label {
        font-size: 20px;
    }
}